<section class="buy" id="buy">
  <p class="buy__txt">毎日のセルフケアに<br>驚きとワクワクを </p>
  <div class="buy__blc">
    <picture>
      <source type="image/webp" srcset="./img/img_product02.webp"
        alt="Creates Presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTION">
      <img src="./img/img_product02.jpg" alt="Creates Presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTION" loading="lazy"
        width="1300" height="400">
    </picture>
  </div>
  <p class="buy__txt2">
    クレイツのクラフトマンシップを活かして誕生した9012（キューゼロイチニ）は、髪・肌・ボディなどトータルな毎日のセルフケアやスタイリングに「驚き」「楽しさ」を感じられる、新感覚の美容ブランドです。</p>
    <div class="buy__itemcon">

      <p class="buy__ttl--nako">クレイツと矢吹奈子とのコラボアイロン新発売 NAKO * 9012</p>
      <a href="https://holisticcures.shop/products/detail/133" target="_blank">
      <picture>
        <source srcset="./img/img_nako.webp" type="image/webp">
        <img src="./img/img_nako.jpg" width="1100" height="1402" alt="NEW Collection">
      </picture>
    </a>
      <a href="https://holisticcures.shop/products/detail/133" target="_blank" class="buy__intro" style="border-color: #5C4738; color: #5C4738;">商品を詳しくみる</a>
  
    </div>

  
  <div class="buy__item">
    <p class="buy__ttl">9012</p>


    <div class="container origin">
        <div class="swiper" id="swiper02">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/img_buy01-a-new.webp" type="image/webp">
                <img src="./img/img_buy01-a-new.png" width="1100" height="1160" alt="9012">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/img_buy01-b-new.webp" type="image/webp">
                <img src="./img/img_buy01-b-new.png" width="1100" height="1160" alt="9012">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/img_buy01-c-new.webp" type="image/webp">
                <img src="./img/img_buy01-c-new.png" width="1100" height="1160" alt="9012">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./img/img_buy01-d-new.webp" type="image/webp">
                <img src="./img/img_buy01-d-new.png" width="1100" height="1160" alt="9012">
              </picture>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
          <!-- If we need navigation buttons -->



    </div>
  </div>

  <div class="buy__itemcon">
    <p class="buy__itemcon--name">9012 イオンカールアイロン32mm</p>
    <p class="buy__itemcon--id">型番：CC9012-G32W</p>
    <p class="buy__itemcon--txt">
      潤いを閉じ込めてちゅるんと巻ける9012イオンカールアイロン。一番人気の32ｍｍは、王道なふんわりとしたカールを作れます。クレイツでも最も人気なコテの太さで、ゆるめの自然なカールの仕上がりに。</p>
      <div class="buy__btn">
        <form action="https://holisticcures.shop/plugin/Shiro8AddCart4/add/113" method="post" class="s8addcartPlg">
          <input type="text" name="quantity" value="1">
          <input type="hidden" name="mode" value="add_cart">
          <input type="hidden" name="ProductClass" value="145">
          <input type="hidden" name="product_id" value="113">
          <div class="buy__btn">
            <label for="tgc01">購入する</label>
            <input type="submit" value="購入" id="tgc01">

          </div>
          </form>
      </div>

    <a href="https://holisticcures.shop/products/detail/113" target="_blank" class="buy__intro">商品を詳しくみる</a>
  </div>


  <div class="buy__item">
    <p class="buy__ttl">9012</p>


    <div class="container origin">





      <div class="swiper" id="swiper03">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/img_buy02-a-new.webp" type="image/webp">
              <img src="./img/img_buy02-a-new.png" width="1100" height="1160" alt="9012">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/img_buy02-b-new.webp" type="image/webp">
              <img src="./img/img_buy02-b-new.png" width="1100" height="1160" alt="9012">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/img_buy02-c-new.webp" type="image/webp">
              <img src="./img/img_buy02-c-new.png" width="1100" height="1160" alt="9012">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/img_buy02-d-new.webp" type="image/webp">
              <img src="./img/img_buy02-d-new.png" width="1100" height="1160" alt="9012">
            </picture>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <!-- If we need navigation buttons -->
      </div>


    </div>
  </div>

  <div class="buy__itemcon">
    <p class="buy__itemcon--name">9012 イオンカールアイロン26mm</p>
    <p class="buy__itemcon--id">型番：CC9012-G26W</p>
    <p class="buy__itemcon--txt">
      潤いを閉じ込めてちゅるんと巻ける9012イオンカールアイロン。26ｍｍは32mmのコテと比べカールが小さくしっかりとリッジの効いたカールがつき、ふんわりとしたボリュームあるスタイルに。</p>
    <div class="buy__btn">
      <form action="https://holisticcures.shop/plugin/Shiro8AddCart4/add/112" method="post" class="s8addcartPlg">
        <input type="text" name="quantity" value="1">
        <input type="hidden" name="mode" value="add_cart">
        <input type="hidden" name="ProductClass" value="144">
        <input type="hidden" name="product_id" value="112">
        <div class="buy__btn">
          <label for="tgc02">購入する</label>
          <input type="submit" value="購入" id="tgc02">

        </div>
        </form>
    </div>
    <a href="https://holisticcures.shop/products/detail/112" target="_blank" class="buy__intro">商品を詳しくみる</a>
  </div>

  <!-- yosimichiモデル -->

  <div class="buy__item">
    <p class="buy__ttl--michi">MICHI * 9012</p>
    <div class="container origin michi">
      <div class="buyitem03 swiper" id="swiper03">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/img_buy03-a-new.webp" type="image/webp">
              <img src="./img/img_buy03-a-new.png" width="1100" height="1160" alt="9012">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/img_buy03-b-new.webp" type="image/webp">
              <img src="./img/img_buy03-b-new.png" width="1100" height="1160" alt="9012">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/img_buy03-c-new.webp" type="image/webp">
              <img src="./img/img_buy03-c-new.png" width="1100" height="1160" alt="9012">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/img_buy03-d-new.webp" type="image/webp">
              <img src="./img/img_buy03-d-new.png" width="1100" height="1160" alt="9012">
            </picture>
          </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <!-- If we need navigation buttons -->
      </div>

    </div>
  </div>

  <div class="buy__itemcon">
    <p class="buy__itemcon--name">9012 イオンカールアイロン38mm</p>
    <p class="buy__itemcon--id">型番：CC9012-G38BP</p>
    <p class="buy__itemcon--txt">9012の真っ白なキャンバスをミチカラーで染める。
      38ｍｍは、トレンドの韓国ヘアやわざとらしくないナチュラルなカールも演出できます。MICHIhairも9012イオンカールアイロン38mmで作れちゃう♡</p>
      <div class="buy__btn">
        <form action="https://holisticcures.shop/plugin/Shiro8AddCart4/add/90" method="post" class="s8addcartPlg">
          <input type="text" name="quantity" value="1">
          <input type="hidden" name="mode" value="add_cart">
          <input type="hidden" name="ProductClass" value="122">
          <input type="hidden" name="product_id" value="90">
          <div class="buy__btn michi">
            <label for="tgc03">購入する</label>
            <input type="submit" value="購入" id="tgc03">
  
          </div>
          </form>
      </div>
    
    <a href="https://holisticcures.shop/products/detail/90" target="_blank" class="buy__intro michi">商品を詳しくみる</a>
  </div>



</section>