<div class="creates" id="creates">
  <div class="creates__blc">
    <div class="creates__img">
      <img src="./img/img_creats.jpg" alt="Creats" width="832" height="680">
    </div>
    <div class="creates__intro">
      <p class="creates__logo">
        <img src="./img/logo_creats.png" alt="Creats" width="770" height="114">

      </p>
      <p class="creates__txt">クレイツのスタイリングツールは、TGC 北九州 2024のバックステージにて出演モデルのヘアメイクにも使用されます。</p>
    </div>
  </div>




  <a href="https://holisticcures.shop/products/list?category_id=25" class="creates__btn" target="_blank">
    <img src="./img/btn_online.jpg" alt="Creats" width="1200" height="352"> </a>


  <div class="creates__setsumei">
    <div class="creates__setsumei--inner">
      <p class="creates__setsumei--logo"><img src="./img/logo_creats.png" alt="Creats" width="770" height="114"></p>
      <p class="creates__setsumei--txt">ヘアサロンでのカールアイロンシェアNo. 1*へア
        ケア家電メーカーであるクレイツは「プロクオリティを毎日に」というブランドコンセプトを掲げ、グローバルな視野・独自の視点で技術開発したビューティーツールを展開しています。福岡市内に本社を構え、九州エリアの地域活性化に向けた活動を積極的に行っております.</p>
      <p class="creates__setsumei--note">※ヘアサロンにおけるシェア率（2023年5～6月 株式会社セイファート調べ）</p>
      <ul class="creates__setsumei--link">
        <li><a href="https://www.instagram.com/createion/" target="_blank" class="insta">Instagram</a></li>
        <li><a href="https://twitter.com/createsofficial" target="_blank" class="twitter">x</a></li>
        <li><a href="https://www.tiktok.com/@creates_official" target="_blank" class="tiktok">tiktok</a></li>
        <li><a href="https://www.youtube.com/c/createionjapan" target="_blank" class="youtube">Youtube</a></li>
        <li><a href="https://lin.ee/B61ZCtw" target="_blank" class="line">Line</a></li>
      </ul>


    </div>
    <!-- creates__setsumei--inner -->

  </div>
  <!-- creates__setsumei -->

  <h3 class="entry__ttl">応募はこちら</h3>
  <a href="https://lin.ee/slyGrEO" target="_blank" class="entry__btn">
    <img src="./img/btn_entry.png" alt="応募はこちら" width="1111" height="330">
  </a>

  <p class="entry__txt">▼QRコードからエントリー</p>
  <div class="entry__line">
    <a href="https://lin.ee/slyGrEO" target="_blank">
      <img src="./img/L_gainfriends_2dbarcodes_GW.png" alt="LINE">
    </a>
</div>