

  <div class="fv">
    <picture>
      <source type="image/webp" srcset="./img/fv02.webp"
        alt="Creates Presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTION">
      <img src="./img/fv02.jpg" alt="Creates Presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTION" loading="lazy"
        width="1500" height="3020">
    </picture>
    <p class="fv__txt">昨年大盛況のうちに幕を閉じたクレイツ<br>
      スペシャルステージヘアショー出演権をかけた<br>
      モデルオーディションを2024年も開催！ </p>
    <h2 class="fv__feature">ヘアショー・雑誌出演モデルクレイツアンバサダーになれるチャンス！！</h2>
    <h3 class="fv__simply">Simply You</h3>
    <p class="fv__simply--subttl">- シンプルに、あなたらしく -</p>
    <p class="fv__txt">ありのままの自分に自信を持ち、<br>
      TGC 北九州 2024のリアルなステージで<br>
      シンプルに自分らしさを表現しましょう。<br>
      夢を叶えたいあなたをクレイツがサポートします。</p>


      <div class="audition swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <picture>
                    <source srcset="./img/swipe01.webp" type="image/webp" >
                    <img src="./img/swipe01.jpg" width="750" height="980" alt="オーディション">
                </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                  <source srcset="./img/swipe02.webp" type="image/webp" >
                  <img src="./img/swipe02.jpg" width="750" height="980" alt="オーディション">
              </picture>
          </div>
          <div class="swiper-slide">
            <picture>
                <source srcset="./img/swipe03.webp" type="image/webp" >
                <img src="./img/swipe03.jpg" width="750" height="980" alt="オーディション">
            </picture>
        </div>
        <div class="swiper-slide">
          <picture>
              <source srcset="./img/swipe04.webp" type="image/webp" >
              <img src="./img/swipe04.jpg" width="750" height="980" alt="オーディション">
          </picture>
      </div>
        </div>
        <!-- If we need navigation buttons -->

    </div>
  </div>
