<div class="contents" id="contents">
  <section class="prize">
    <h2 class="main__ttl">Prize list</h2>
    <p class="main__subttl">受賞者特典一覧</p>
    <div class="prize__blc">
      <p class="prize__subttl">
        <picture>
          <source srcset="./img/ttl_prize01.webp" type="image/webp">
          <img src="./img/ttl_prize01.png" width="600" height="80" alt="グランプリ<1名>">
        </picture>
      </p>
      <div class="prize__sblc">
        <p class="prize__prize">CREATEs presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTIONのヘアショーに出演</p>
        <div class="prize__prize--icon">
          <img src="./img/icon_prize01.png" width="60" height="68" alt="グランプリ<1名>">
        </div>

        <ul class="prize__lists">
          <li>
            <span class="first">●</span>
            <p>クレイツグループ関連ブランドのPRモデルとして女性誌『Ray』の誌面に掲載</p>
          </li>
          <li>
            <span class="first">●</span>
            <p>賞金30万円</p>
          </li>
          <li>
            <span class="first">●</span>
            <p>クレイツグループ関連ブランドアンバサダー就任権利</p>
            <p class="note">※アンバサダーは所属事務所最終面談を通じて正式就任</p>
          </li>
        </ul>
      </div>



    </div>
    <div class="prize__img">
      <picture>
        <source srcset="./img/img_prize02.webp" type="image/webp">
        <img src="./img/img_prize02.png" width="680" height="446" alt="ランウエイデビュー">
      </picture>
    </div>

    <div class="prize__blc">
      <p class="prize__subttl">
        <picture>
          <source srcset="./img/ttl_prize02.webp" type="image/webp">
          <img src="./img/ttl_prize02.png" width="600" height="80" alt="準グランプリ<1名>">
        </picture>
      </p>
      <div class="prize__sblc">
        <p class="prize__prize">CREATEs presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTIONのヘアショーに出演</p>
        <div class="prize__prize--icon">
          <img src="./img/icon_prize02.png" width="60" height="68" alt="グランプリ<1名>">
        </div>

        <ul class="prize__lists">
          <li>
            <span class="second">●</span>
            <p>賞金20万円</p>
          </li>
          <li>
            <span class="second">●</span>
            <p>クレイツグループ関連ブランドアンバサダー就任権利</p>
          </li>
          <li>
            <span class="second">●</span>
            <p>宿泊交通費の支援（条件達成の場合のみ）</p>
            <p class="note">※アンバサダーは所属事務所最終面談を通じて正式就任</p>
          </li>
        </ul>
      </div>



    </div>


    <div class="prize__blc">
      <p class="prize__subttl02">
        優秀賞〈1名〉
      </p>
      <div class="prize__sblc">
        <p class="prize__prize">CREATEs presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTIONのヘアショーに出演</p>
        <div class="prize__prize--icon">
          <img src="./img/icon_prize03.png" width="60" height="68" alt="グランプリ<1名>">
        </div>

        <ul class="prize__lists">
          <li>
            <span class="third">●</span>
            <p>賞金5万円</p>
          </li>
          <li>
            <span class="third">●</span>
            <p>クレイツグループ関連ブランドアンバサダー就任権利</p>
          </li>
          <li>
            <span class="third">●</span>
            <p>宿泊交通費の支援（条件達成の場合のみ）</p>
            <p class="note">※アンバサダーは所属事務所最終面談を通じて正式就任</p>
          </li>
        </ul>
      </div>



    </div>


    <div class="prize__blc">
      <p class="prize__subttl02">入賞〈3名〉</p>
      <div class="prize__sblc">
        <ul class="prize__lists">
          <li>
            <span class="third">●</span>
            <p>賞金3万円</p>
          </li>
          <li>
            <span class="third">●</span>
            <p>クレイツグループ関連ブランドアンバサダー就任権利</p>
          </li>
          <li>
            <span class="third">●</span>
            <p>宿泊交通費の支援（条件達成の場合のみ）</p>
            <p class="note">※アンバサダーは所属事務所最終面談を通じて正式就任</p>
          </li>
        </ul>
      </div>



    </div>
  </section>

  <section class="entry">
    <div class="enbry__blc">
      <picture>
        <source srcset="./img/img_close2.webp" type="image/webp">
        <img src="./img/img_close2.png" width="1360" height="2036" alt="応募終了">
      </picture>

    </div>
      <!-- <h3 class="entry__ttl">応募はこちら</h3>
      <a href="https://lin.ee/slyGrEO" target="_blank" class="entry__btn">
        <img src="./img/btn_entry.png" alt="応募はこちら" width="1111" height="330">
      </a>
      <p class="entry__txt">▼QRコードからエントリー</p>
      <div class="entry__line">
        <a href="https://lin.ee/slyGrEO" target="_blank">
        <img src="./img/L_gainfriends_2dbarcodes_GW.png" alt="LINE">
      </a>
      </div>
      <p class="entry__txt">応募条件<br>
        ステージにモデルとして出演出来る方<br>
        性別不問、年齢18歳～28歳</p>
      <p class="entry__txt2">※ライブ配信審査はライブ＆動画コミュニティアプリの<br>“ミクチャ”で実施</p> -->
  </section>

  
</div>
  <section class="schedule" id="schedule">
    <h2 class="main__ttl">Schedule</h2>
    <p class="main__subttl">スケジュール</p>
    <div class="schedule__blc">
      <p class="schedule__date">7月8日（月）～7月31日（水）</p>
      <p class="schedule__date--com">通常エントリー期間<br>↓</p>

      <p class="schedule__date">8月2日（金）～8月11日（日）</p>
      <p class="schedule__date--com">セミファイナル（ライブ配信）<br>↓</p>

      <p class="schedule__date">8月13日（火）～8月27日（火） </p>
      <p class="schedule__date--com">ファイナル（ライブ配信審査＆WEB投票）<br>↓</p>

      <p class="schedule__date">9月2日（月）～9月4日（水）</p>
      <p class="schedule__date--com">最終審査（オンライン面接）<br>↓</p>

      <p class="schedule__date">9月9日（月）の週内</p>
      <p class="schedule__date--com">結果発表<br>↓</p>

      <p class="schedule__date">10月12日（土）</p>
      <p class="schedule__date--com">CREATEs presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTIONのステージ出演！</p>
      <!-- <a href="https://lin.ee/slyGrEO" target="_blank" class="entry__btn">
        <img src="./img/btn_entry.png" alt="応募はこちら" width="1111" height="330">
      </a> -->

      <!-- <p class="schedule__entrytxt">2024年7月31日(水)応募締切</p> -->
    </div>

  </section>


  