<div class="news" id="news">
  <h2 class="main__ttl">News</h2>
  <ul class="news__blc">
    <li>
      <span class="news__date">2024.07.08</span>
      <p class="news__contents">ヘアショー出演オーディションサイトオープン</p>
    </li>
    <li>
      <span class="news__date">2024.07.31</span>
      <p class="news__contents">ヘアショー出演オーディションエントリー終了</p>
    </li>
    <li>
      <span class="news__date">2024.08.09</span>
      <p class="news__contents">クレイツと矢吹奈子コラボヘアアイロン情報公開</p>
    </li>
    <li>
      <span class="news__date">2024.08.13</span>
      <p class="news__contents"><a href="https://mixch.tv/live/event/17468" target="_blank">ヘアショー出演オーディションファイナル開催</a></p>
    </li>
  </ul>
</div>
<!-- <picture>
  <source type="image/webp" srcset="./img/fv.webp"
    alt="Creates Presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTION">
  <img src="./img/fv.png" alt="Creates Presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTION" loading="lazy"
    width="1500" height="2614">
</picture> -->
